name = "ManoptExamples"
uuid = "5b8d5e80-5788-45cb-83d6-5e8f1484217d"
authors = ["Ronny Bergmann <manopt@ronnybergmann.net>"]
version = "0.1.14"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ManifoldDiff = "af67fdf4-a580-4b9f-bbec-742ef357defd"
Manifolds = "1cead3c2-87b3-11e9-0ccd-23c62b72b94e"
ManifoldsBase = "3362f125-f0bb-47a3-aa74-596ffd7ef2fb"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
OffsetArrays = "6fe1bfb0-de20-5000-8ca7-80f57d26f881"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[weakdeps]
Manopt = "0fc0a36d-df90-57f3-8f93-d78a9fc72bb5"

[extensions]
ManoptExamplesManoptExt = "Manopt"

[compat]
Distributions = "0.25"
LinearAlgebra = "1.10"
ManifoldDiff = "0.4"
Manifolds = "0.10"
ManifoldsBase = "1"
Manopt = "0.5"
Markdown = "1.10"
OffsetArrays = "1.14.1"
Random = "1.10"
RecursiveArrayTools = "2, 3"
Requires = "0.5, 1"
SparseArrays = "1.10"
Test = "1.10"
julia = "1.10"

[extras]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Manopt = "0fc0a36d-df90-57f3-8f93-d78a9fc72bb5"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecursiveArrayTools = "731186ca-8d62-57ce-b412-fbd966d074cd"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Random", "Manopt", "Distributions", "RecursiveArrayTools"]
